

footer{
    padding: 2em 0.1em;
}
footer img{
    width:7%;
}

/* DESKTOP */
*{
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}

img{
    max-width:100%;
    height:auto;
}
header h1 {
    font-size: 1.2em;
}





/* For mobile phones: */
*{
    width: 100%;
    text-align: center;
}

figure {

    border-bottom : 1px grey solid;
    padding : 0.5em;
    

}
img {

    max-width: 300px;
    max-height: auto;
}
em {
    font-size : 0.7em;
    color : graytext;
}




/* Use Media Query to add a breakpoint at 768px: */
/* For desktop: */
@media screen and (max-width:768px) {
    figure {
        display: inline-block;
        font-size: 1em;
    }
}

/*browser display : 
bigger 
1920x1080 	
1366x768

https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_mobilefirst

https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_breakpoints

*/

/* Typical Breakpoints  

*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    section { background: lightsteelblue; color: darkslategray; }
    footer a {font-size : 50%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /*section{background: darkgrey; color:pink;}*/
    section { background: lightblue; color: darkslateblue; }
    img {
        max-width: 400px;
        max-height: auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /*section {background: mediumslateblue; color:lightsalmon;}*/
    section { background: lightblue; color: darkslateblue; }
    em {color:lightyellow;}
    img {
        max-width: 500px;
        max-height: auto;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* section {background: lightcoral;color:mediumslateblue;}*/
    section { background: lightblue; color: darkslateblue; }
    article, figure {
        display: inline-block;
        width: 45%;

    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /*section {background: lightpink; color : mediumslateblue;}*/
    /* section { background: lightblue; color: darkslateblue; }*/
    article, figure {
        display: inline-block;
        width: 25%;
    }
}